.QuizList {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background: linear-gradient(90deg, rgba(69,168,184,1) 0%, rgba(97,171,177,1) 35%, rgba(42,111,173,1) 100%);
    flex-grow: 1;
    width: 100%;

}
.QuizList h1 {
    color: azure;
}

.QuizList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.QuizList li {
    margin-bottom: 10px;
}

.QuizList li a {
    text-decoration: none;
    color: azure;
}
.QuizList li a:hover {
    color: #57bfff;
}